@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
 --color-primary-50: #fef4f3;
  --color-primary-100: #fde5e3;
  --color-primary-200: #fbc6c1;
  --color-primary-300: #f9a49e;
  --color-primary-400: #f7827b;
  --color-primary-500: #f55951;
  --color-primary-600: #d8423a;
  --color-primary-700: #b2322a;
  --color-primary-800: #8c251d;
  --color-primary-900: #6d1f1a;

  --color-neutral-50: #fdfbfa;
  --color-neutral-100: #f1e8e6;
  --color-neutral-200: #edd2cb;
  --color-neutral-300: #dfb8af;
  --color-neutral-400: #c8acaa;
  --color-neutral-500: #a88684;
  --color-neutral-600: #886260;
  --color-neutral-700: #543c52;
  --color-neutral-800: #412a3f;
  --color-neutral-900: #361d32;
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-sans text-neutral-800 bg-neutral-50 antialiased;
    scrollbar-gutter: stable;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight;
  }
}
